@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;500;700&display=swap');

:root {
    --main-color: #2C3E50;
    --main-color-light: #3A546D;
    --second-color: #1ABC9C;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Yantramanav', sans-serif;
}

.style-navbar {
    background-color: var(--main-color);
}

.navbar-hamburger-icon {
    color: white;
    font-size: 1.5rem;
}

.jumbo-section {
    padding-top: 5rem;
    background-color: var(--second-color);
}

.profile-img {
    width: 250px;
}

.main-title {
    font-size: 3rem;
}

.line-divider {
    height: 3px;
    border-radius: 20px;
    background-color: white;
}

.line-divider-dark {
    background-color: var(--main-color);
}

.portfolio-section {
    color: var(--main-color);
}

.project-img {
    width: 100%;
    border-radius: 20px;
}

.about-section {
    background-color: var(--second-color);
}

.circle {
    border-radius: 50%;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.teal-text {
    color: var(--second-color);
}

.footer-main {
    background-color: var(--main-color-light);
}

.footer-copyright {
    background-color: var(--main-color);
}

@media screen and (min-width:768px) {
    .section-title-lg {
        font-size: 3rem !important;
    }
}